<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    
    <form>
        <h1>Edição de Usuário</h1>

        <input value="<%= usuario.id %>" type="text" id="usuarioId" hidden>

        <div>
            <div>
                <label for="username">Username</label>
            </div>
            <div>
                <input value="<%= usuario.username %>" type="text" id="username">
            </div>
        </div>
        <div>
            <div>
                <label for="email">E-mail</label>
            </div>
            <div>
                <input value="<%= usuario.email %>" type="email" id="email">
            </div>
        </div>
        <div>
            <div>
                <label for="senha">Senha</label>
            </div>
            <div>
                <input type="password" id="senha">
            </div>
        </div>
        <div>
            <button id="btnCadastrarUsuario" type="submit">Cadastrar</button>
        </div>

    </form>

</body>
<script>

    const btnCadastrarUsuario = document.getElementById("btnCadastrarUsuario")
  
    btnCadastrarUsuario.addEventListener("click", cadastrarUsuario)

    async function cadastrarUsuario(e)
    {
        e.preventDefault()

        const id = document.getElementById("usuarioId")
        const username = document.getElementById("username")
        const email = document.getElementById("email")
        const senha = document.getElementById("senha")
  

        const url = "/user/edit"

       const response = await fetch(url, { 
            method:'PUT',
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify(
                {
                    id: id.value,
                    username : username.value,
                    email: email.value,
                    senha: senha.value
                }
            )
        })

        const data = await response.json()

        if(!response.ok)
        {
            console.log("Ocorreu um erro na requisção")
        }

        console.log(data)

    }

</script>
</html>